<!-- Nav Bar-->
<nav>
<div class="nav-wrapper">
    <div class="container">
    <a href="#" class="brand-logo">Ruin Your Friendship</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="home.html">Home</a></li>
        <li><a href="https://github.com/manleyac/project-2" target="_blank">Github</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="login.html">Log Out</a></li>
    </ul>
    </div>
</div>
</nav>

<!-- Contact Info -->
<div class="container">
<div class="row">
    <div class="col s3"><h4>Andrew Le</h4></div>
    <div class="col s3"><h4>Andrew Manley</h4></div>
    <div class="col s3"><h4>Carl Vega</h4></div>
    <div class="col s3"><h4>Desiree Howell</h4></div>
</div>
<div class="row">
    <div class="col s3"><img src="../public/images/andrewl.jpg" alt="AndrewL" width="230" height="230"/></div>
    <div class="col s3"><img src="../public/images/andrewl.jpg" alt="AndrewM" width="230" height="230"/></div>
    <div class="col s3"><img src="../public/images/carl.jpg" alt="Carl" width="230" height="230"/></div>
    <div class="col s3"><img src="../public/images/desiree.jpg" alt="Desiree" width="230" height="230"/></div>
</div>
<div class="row">
    <div class="col s3"><h5><a href="https://github.com/andrewle12" target="_blank">Github</a></h5></div>
    <div class="col s3"><h5><a href="https://github.com/manleyac" target="_blank">Github</a></h5></div>
    <div class="col s3"><h5><a href="https://github.com/carl-vega" target="_blank">Github</a></h5></div>
    <div class="col s3"><h5><a href="https://github.com/desinoelle" target="_blank">Github</a></h5></div>
</div>
<div class="row">
    <div class="col s3"><h5><a href="" target="_blank">Portfolio</a></h5></div>
    <div class="col s3"><h5><a href="" target="_blank">Portfolio</a></h5></div>
    <div class="col s3"><h5><a href="" target="_blank">Portfolio</a></h5></div>
    <div class="col s3"><h5><a href="https://desinoelle.github.io/MyPortfolio/" target="_blank">Portfolio</a></h5></div>
</div>
</div>


<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>