<!-- Nav Bar -->
<nav>
	<div class="nav-wrapper">
		<div class="container">
			<a href="/home" class="brand-logo">Ruin Your Friendship</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/chat" target="_blank">Chat</a></li>
				<li><a href="https://github.com/manleyac/project-2" target="_blank">Github</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/">Log Out</a></li>
			</ul>
		</div>
	</div>
</nav>

<table id="board">
		<tr scope="row">
			<td class="cell" id="0"></td>
			<td class="cell" id="1"></td>
			<td class="cell" id="2"></td>
		</tr>
		<tr scope="row">
			<td class="cell" id="3"></td>
			<td class="cell" id="4"></td>
			<td class="cell" id="5"></td>
		</tr>
		<tr scope="row">
			<td class="cell" id="6"></td>
			<td class="cell" id="7"></td>
			<td class="cell" id="8"></td>
		</tr>
	</table>
	<div>
		<div class="text"></div>
	</div>
	<button id="reset">Replay</button>
	<script
  		src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  		crossorigin="anonymous">
	</script>
  <script type="text/javascript" src="/js/tictactoe.js"></script>
>>>>>>> Stashed changes
