<!-- Nav Bar -->
<nav>
	<div class="nav-wrapper">
		<div class="container">
			<a href="/home" class="brand-logo">Ruin Your Friendship</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/chat" target="_blank">Chat</a></li>
				<li><a href="https://github.com/manleyac/project-2" target="_blank">Github</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/">Log Out</a></li>
			</ul>
		</div>
	</div>
</nav>

<table class="endgame">
	<tr scope="row">
		<td class="cell" id="0"></td>
		<td class="cell" id="1"></td>
		<td class="cell" id="2"></td>
	</tr>
	<tr scope="row">
		<td class="cell" id="3"></td>
		<td class="cell" id="4"></td>
		<td class="cell" id="5"></td>
	</tr>
	<tr scope="row">
		<td class="cell" id="6"></td>
		<td class="cell" id="7"></td>
		<td class="cell" id="8"></td>
	</tr>
</table>
<div class="endgame">
	<div class="text"></div>
</div>
<button onClick="startGame()">Replay</button>

<script src="/js/tictactoe.js"></script>